#header-nav {
  background-color: #483197;
  border: 0;
  border-radius: 0;
  font-weight: bold;
  }
body{
	background-color: #257293;
}
h1{
	text-align: center;
}

#hh2, #hh3, #hh4{
	background-color: #99ff99;
	margin: 30px;
  border: 30px;
  padding: 30px;
  width: auto;
}

h2, h3, h4{
	text-align: center;
	font-size: 25px;
}
ul li{
  background-color:#969908;
  text-align: center;
}
